<h1>Password Generator</h1>
<div>
<label>Enter Length</label>
<input (input)="onTextChange($event.target!)"/>
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox"/> <!-- (change) is event handler-->
</div>


<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox"/>
</div>


<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox"/>
</div>

<div>
  <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" 
  (click)="onButtonClick()">
  Generate</button> <!-- Event Binding -->
</div>

<div>
  <label>Your password</label>
  <input [value]="password"/>  <!-- Property Binding -->
</div>

  {{ password }}  
  {{ getName()}}<!-- Interpolation -->